[[source]]

name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"


[packages]

requests = "*"
"beautifulsoup4" = "*"
fire = "*"
tendo = "*"
pillow = "*"
romanize = "*"
imageio = {version = "*", platform_machine = "!= 'armv7l'"}


[dev-packages]

